<!-- src/app/components/person-list/person-list.component.html -->
<div class="container">
  <h1>Lista de Personas</h1>
  <button (click)="goToCreatePerson()">Crear Nueva Persona</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <!-- Agrega más columnas según las propiedades de tu modelo Person -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.email }}</td>
        <!-- Agrega más celdas según las propiedades de tu modelo Person -->
      </tr>
    </tbody>
  </table>
</div>