<!-- src/app/components/person-list/person-list.component.html -->
<div class="container mt-4">
  <h1 class="mb-4">Lista de Personas</h1>
  <button class="btn btn-primary mb-3" (click)="goToCreatePerson()">Crear Nueva Persona</button>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Apellido</th>
        <th>Fecha de Nacimiento</th>
        <th>Numero Celular</th>
        <th>Direccion</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.dateOfBirth }}</td>
        <td>{{ person.phoneNumber }}</td>
        <td>{{ person.address }}</td>
      </tr>
    </tbody>
  </table>
</div>