
<div class="container mt-4">
  <h1 class="mb-4">Crear Persona</h1>
  <form (ngSubmit)="savePerson()" class="needs-validation" novalidate>

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="person.firstName" name="name" required>
      <div class="invalid-feedback">Por favor, ingresa un nombre.</div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="person.email" name="email" required>
      <div class="invalid-feedback">Por favor, ingresa un email válido.</div>
    </div>

    <div class="form-group">
      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" class="form-control" [(ngModel)]="person.lastName" name="lastName" required>
      <div class="invalid-feedback">Por favor, ingresa un apellido válido.</div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Fecha de Nacimiento:</label>
      <input type="date" id="dateOfBirth" class="form-control" [(ngModel)]="person.dateOfBirth" name="dateOfBirth" required>
      <div class="invalid-feedback">Por favor, ingresa una fecha válida.</div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Celular:</label>
      <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="person.phoneNumber" name="phoneNumber" required>
      <div class="invalid-feedback">Por favor, ingresa un telefono válido.</div>
    </div>

    <div class="form-group">
      <label for="address">Direccion:</label>
      <input type="text" id="address" class="form-control" [(ngModel)]="person.address" name="address" required>
      <div class="invalid-feedback">Por favor, ingresa una direccion válida.</div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>